/* stylelint-disable declaration-no-important */

@mixin tbds-generate-breakpoint-classes(
  $property,
  $value,
  $variant,
) {
  .tbds-#{$property}-#{$variant} {
    #{$property}: unquote(#{$value}) !important;
  }

  @each $breakpoint, $breakpoint-value in $tbds-breakpoints {
    @media (min-width: $breakpoint-value) {
      .tbds-#{$property}-#{$variant}\@#{$breakpoint} {
        #{$property}: unquote(#{$value}) !important;
      }
    }
  }
}

/* stylelint-enable */
